<!doctype.html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Seja bem vindo ao cadastro de alunos!</title>
      </head>

      <body>

{% comment %} {% extends 'alunos/base.html' %}
{% block conteudo %} {% endcomment %}

<div class="container">
    <h1>Lista de alunos cadastrados!</h1>

    <table class="table table-bordered table-striped"> 
    <tr>    
    <th>id</th>  
    <th>nome</th> 
    <th>sobrenome</th> 
    <th>telefone</th> 
    <th>cpf</th> 
    <th>cep</th> 
    <th>endereco</th> 
    <th>bairro</th> 
    <th>cidade</th> 
    <th>estado</th> 
    <th>email</th> 
    <th>modalidade</th> 
    <th>horario</th> 
    </tr> 
    {% for aluno in alunos %}
    <tr>
        <td>{{aluno.id_aluno}}</td>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.sobrenome}}</td>
        <td>{{aluno.telefone}}</td>
        <td>{{aluno.cpf}}</td>
        <td>{{aluno.cep}}</td>
        <td>{{aluno.endereco}}</td>
        <td>{{aluno.bairro}}</td>
        <td>{{aluno.cidade}}</td>
        <td>{{aluno.estado}}</td>
        <td>{{aluno.email}}</td>
        <td>{{aluno.modalidade}}</td>
        <td>{{aluno.horario}}</td>
    </tr>

    {% endfor %}  

    </table> 

</div>
{% comment %} {% endblock %} {% endcomment %}

 <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

